      <div class="row header"><!-- Begin Header -->
      
        <!-- Logo
        ================================================== -->
        <div class="span5 logo">
        	<a href="home"><img src="{echo CDN}img/logo.png" alt=" Logo" /></a>
            <h5>Brilliant minds...Awesome Codes </h5>
        </div>
        
        <!-- Main Navigation
        ================================================== -->
        <div class="span7 navigation">
            <div class="navbar hidden-phone">
            
            <ul class="nav">
            <li class="dropdown">
                <a  href="home">Home </a>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">OS<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/os/linux">Linux</a></li>
                    <li><a href="/os/windows">Windows</a></li>
                    <li><a href="/os/mac">Mac</a></li>
                    <li><a href="/os/others">Others</a></li>
                </ul>
            </li>
             <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"> Programming<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/languages/php">PHP</a></li>
                    <li><a href="/languages/ccpp">C / C++</a></li>
                    <li><a href="/languages/c">C++</a></li>
                    <li><a href="/languages/js">Javascript</a></li>
                    <li><a href="/languages/python">Python</a></li>
                </ul>
             </li>
		<li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">DataBase<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/db/mysql">MySQL</a></li>
                    <li><a href="/db/mssql">MS SQL</a></li>
                    <li><a href="/db/mongodb">Mongo DB</a></li>
                    <li><a href="/db/postgres">Posgres SQL</a></li>
                    <li><a href="/db/other">Others</a></li>
                </ul>
             </li>
             <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Tools<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/tools/nmap">Nmap</a></li>
                    <li><a href="/tools/wireshark">WireShark</a></li>
                    <li><a href="blog-style3.html">Blog Style 3</a></li>
                    <li><a href="blog-style4.html">Blog Style 4</a></li>
                    <li><a href="blog-single.html">Blog Single</a></li>
                </ul>
             </li>
	
		     <li><a href="technews">Tech News</a></li>
             <li><a href="authors">Authors</a></li>
             
            </ul>
           
            </div>

            <!-- Mobile Nav
            ================================================== -->
            <form action="#" id="mobile-nav" class="visible-phone">
                <div class="mobile-nav-select">
                <select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
                    <option value="">Navigate...</option>
                    <option value="index.html">Home</option>
                        <option value="index.html">- Full Page</option>
                        <option value="index-gallery.html">- Gallery Only</option>
                        <option value="index-slider.html">- Slider Only</option>
                    <option value="features.html">Features</option>
                    <option value="page-full-width.html">Pages</option>
                        <option value="page-full-width.html">- Full Width</option>
                        <option value="page-right-sidebar.html">- Right Sidebar</option>
                        <option value="page-left-sidebar.html">- Left Sidebar</option>
                        <option value="page-double-sidebar.html">- Double Sidebar</option>
                    <option value="gallery-4col.html">Gallery</option>
                        <option value="gallery-3col.html">- 3 Column</option>
                        <option value="gallery-4col.html">- 4 Column</option>
                        <option value="gallery-6col.html">- 6 Column</option>
                        <option value="gallery-4col-circle.html">- Gallery 4 Col Round</option>
                        <option value="gallery-single.html">- Gallery Single</option>
                    <option value="blog-style1.html">Blog</option>
                        <option value="blog-style1.html">- Blog Style 1</option>
                        <option value="blog-style2.html">- Blog Style 2</option>
                        <option value="blog-style3.html">- Blog Style 3</option>
                        <option value="blog-style4.html">- Blog Style 4</option>
                        <option value="blog-single.html">- Blog Single</option>
                    <option value="page-contact.html">Contact</option>
                </select>
                </div>
                </form>

        </div>
        
      </div><!-- End Header -->
