<div class="row">
<!-- Thumbnail Grid================================================== -->
        <div class="span6">
            <h6 class="title-bg">MERAJ AHMAD SIDDIQUI<small> :- Chief Developer</small></h6>

            <ul class="thumbnails">
                <li class="span3"><img src="https://pbs.twimg.com/profile_images/452508554570633216/dBrvDoo5.jpeg" alt="Thumbnail" class="thumbnail" /></li>
                <li class="span3"><img src="img/gallery/thumbnail-270x130.jpg" alt="Thumbnail" class="thumbnail" /></li>
                <li class="span3"><img src="img/gallery/thumbnail-270x130.jpg" alt="Thumbnail" class="thumbnail" /></li>
            </ul>

        </div>
        <div class="span6">
            <h6 class="title-bg">IMRAN AHMAD <small> :- Administrator</small></h6>

            <ul class="thumbnails">
                <li class="span3"><img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-xap1/v/t34.0-12/11219537_514793522030253_3576818289778518731_n.jpg?oh=d148e71ee70e04de72c788b04b60b03f&oe=55E10B51&__gda__=1440811716_8324a683d3e9008c71c5dee8225a9d7a" alt="Thumbnail" class="thumbnail" /></li>
                <li class="span3"><img src="img/gallery/thumbnail-270x130.jpg" alt="Thumbnail" class="thumbnail" /></li>
                <li class="span3"><img src="img/gallery/thumbnail-270x130.jpg" alt="Thumbnail" class="thumbnail" /></li>
            </ul>

        </div>

    </div>
    <div class="row">
<!-- Thumbnail Grid================================================== -->
        <div class="span6">
            <h6 class="title-bg">Mahtab Alam <small> :- Programmer</small></h6>

            <ul class="thumbnails">
                <li class="span3"><img src="https://scontent-sin1-1.xx.fbcdn.net/hphotos-xpf1/v/t1.0-9/11885304_941551382570475_2361125170783079024_n.jpg?oh=5e5437b6d7ff5f74fad76bf68d10dae7&oe=56725274" alt="Thumbnail" class="thumbnail" /></li>
                <li class="span3"><img src="img/gallery/thumbnail-270x130.jpg" alt="Thumbnail" class="thumbnail" /></li>
                <li class="span3"><img src="img/gallery/thumbnail-270x130.jpg" alt="Thumbnail" class="thumbnail" /></li>
            </ul>

        </div>
        <div class="span6">
            <h6 class="title-bg">SANA NOOR <small> :- Programmer</small></h6>

            <ul class="thumbnails">
                <li class="span3"><img src="img/gallery/thumbnail-270x300.jpg" alt="Thumbnail" class="thumbnail" /></li>
                <li class="span3"><img src="img/gallery/thumbnail-270x130.jpg" alt="Thumbnail" class="thumbnail" /></li>
                <li class="span3"><img src="img/gallery/thumbnail-270x130.jpg" alt="Thumbnail" class="thumbnail" /></li>
            </ul>

        </div>

    </div>

